.element__image{
    width: 100vw;
    height: 100vh;
    max-width: 17.625rem;
    max-height: 17.625rem;
}
.element__image-hover{
    width: 100vw;
    height: 100vh;
    visibility: visible;
    opacity: 0;
}