.profile__popup-title {
    width: 20.625rem;
    height: 1.4375rem;
    margin-left: 2.25rem;
    margin-right: 4rem;
    margin-top: 2.125rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #000000;
}