.profile__popup-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 26.875rem;
    height: 20.625rem;
    background-color: #FFFFFF;
    border-radius: .625rem;
    margin: 200px auto;
}
@media screen and (min-width:320px) and (max-width:1279px) {
    .profile__popup-container{
        min-width: 292px;
        height: 372px;
    }   
}