.modal__popup-img-background {
    position: relative;
    display: flex;
    width: 75vw;
    height: 75vh;
    top: 250px;
    left: 200px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    flex-direction: column;
}
@media screen and (min-width:320px)and (max-width:1279px) {
    .modal__popup-img-background{
        width: 240px;
        height: 299px;
        left: 40px;
        top:136px;
    }   
}